{% extends "adventure_day/base.html" %}
{% block content %}
<div class="container">
  <div class="form-group row">
    <div class="col-xs-2">
      <label for="start-address">Start:</label>
      <input id="start-address-field" type="text" class="form-control" placeholder="Starting from...">
      <input type="button" value="Use my location" onclick="getCurrentLocation()" class="btn-default">

    </div>
    <!-- <div class="col-xs-2">
      <label for="end-address">End:</label>
      <input id="end-address" type="text" class="form-control" placeholder="Ending at...">
    </div> -->
    <div class="col-xs-2">
      <label for="location-type-selector">What kind of locations?:</label>
      <select class="form-control" id="location-type-selector">
        <option>Cafe</option>
        <option>Restaurant</option>
        <option>Park</option>
        <option>Museum</option>
      </select>
    </div>
  </div>

  <input type="button" value="Go on an adventure" onclick="createAdventure()" class="btn-default">
</div>
<script>getCurrentLocation()</script>
{% endblock %}

<div class="form-group">

</div>
